{% extends "base.html" %}
{% load static wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<link rel="stylesheet" href="{% static 'css/home_page.css' %}">

{% endblock extra_css %}
{% block content %}
<div class="welcome text-center text-white py-5">
    <h3 class="shadoww">{{ page.banner_title }}</h3>
</div>
{% image page.banner_photo width-1000 as img %}
    <img class ="banner_photo mx-auto d-block" src="{{ img.url }}" alt="{{img.alt}}">
<div class="name">
    <div class="text-white text-center">Michał Bylina</div>
</div>

{% endblock content %}
